$sansSerif: 'Roboto', sans-serif;
$cursive: 'Rouge Script', cursive;

$blue: #234168;
$blueSheer: rgba(35, 65, 104, .25);

$magenta: #C448A6;
$magentaSheer: rgba(196, 72, 166, .25);

$lightBlue: #1A83C4;
$lightBlueSheer: rgba(26, 131, 196, .25);

$rose: #E87F9D;
$roseSheer: rgba(232, 127, 157, .25);

$turq: #1daf91; 
$turqSheer: rgba(29, 175, 145, .25);